//== Variables, Mixins, and Functions
@import 'main/util/_var';
@import 'main/util/_var-bootstrap';
@import 'main/util/_var-mdb';
@import 'main/util/_var-material-colors';
@import 'main/util/_mixins';
@import 'main/util/_functions';
@import 'main/util/_helpers';
//== Common
@import 'main/_base';
//== Colors, Gradient
@import 'main/colors/_material-colors';
@import 'main/colors/_mw-colors';
//== App layouts
@import 'main/structure/app/_app-wrapper';
@import 'main/structure/app/_sidebar-collapse';
@import 'main/structure/app/_main-menu';
@import 'main/structure/app/_sidebar-overlay';
@import 'main/structure/app/_sidebar-wrappers';
@import 'main/structure/app/_topbar-nav';
@import 'main/structure/app/_boxed';
@import 'main/structure/app/_logo';
//== Page laouts
@import 'main/structure/page/_main';
//== Common page structures
@import 'main/structure/common/_main';
//UI Elements
@import 'main/ui-elements/_breadcrumbs';
@import 'main/ui-elements/_ripples';
@import 'main/ui-elements/_scrollbar';
@import 'main/ui-elements/_tabs';
@import 'main/ui-elements/_preloader';
//== Components
@import 'main/components/_toolbars';
@import 'main/components/_drawers-left';
@import 'main/components/_drawers-right';
@import 'main/components/_modals';
@import 'main/components/_dropdowns';
//== Cards
@import 'main/cards/_card-templates';

//== Profile Styles
@import 'main/profiles/_user-profile';

@import url('https://fonts.googleapis.com/css?family=Spectral+SC');

.brand-text {
  font-family: 'Spectral SC', serif;
	font-size: 23px !important;
	padding: 1px 0 0 28px !important;
}