<div id="content_wrapper">
		<div id="header_wrapper" class="header-sm">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<header id="header">
							<h1>{{ title }}</h1>
						</header>
					</div>
				</div>
			</div>
		</div>
		<div id="content" class="container-fluid">
			<div class="content-body">
				<div class="row">
					<div class="col-xs-12">
							<div class="card">
									
									<div class="card-body p-0">
										<div class="tabpanel">
											<ul class="nav nav-tabs nav-justified">
												<li class="active" role="presentation"><a href="#tab-13" data-toggle="tab" aria-expanded="true">General Settings</a></li>
											</ul>
										</div>
										<div class="tab-content p-20">
											<div class="tab-pane fadeIn active" id="tab-13">
												{{ useremail }}
											</div>
										</div>
									</div>
								</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ENDS $content -->
	</div>
