{% include "header.html" %}
<div class="careers-header">
  <section class="container">
    <div class="row">
      <div class="col-12">
        <h1>
          Creating a better world that helps each and everyone
        </h1>
      </div>
    </div>
  </section>
</div>

<div class="careers-intro">
  <div class="container">
    <h3>
      Create great work
    </h3>
    <p>
      Spacial has both a web app and an android app to make your website easy and always available. It offers you all the designs in collaboration with some smart people. Your projects will look great everywhere you go.
    </p>
    <div class="careers-intro-gallery">
      <div class="row">
        <div class="col-md-8">
          <img src="images/unsplash/photo-1479243396208-be1751535cdb.jpg" class="img-fluid">
        </div>
        <div class="col-md-4">
          <img src="images/unsplash/photo-1461988625982-7e46a099bf4f.jpg" class="img-fluid" style="margin-bottom: 18px;">
          <img src="images/unsplash/photo-1473213021768-ea962b488457.jpg" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="careers-perks">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>
          Learn from the best
        </h3>
        <p>
          Your personal growth is important to us, and we’ll give you everything you need to make it happen: learning budgets, mentorship opportunities.
        </p>
      </div>
      <div class="col-md-6">
        <h3>
          Personal growth
        </h3>
        <p>
          Your personal growth is important to us, and we’ll give you everything you need to make it happen: learning budgets, mentorship opportunities.
        </p>
      </div>
      <div class="col-md-6">
        <h3>
          Mission that matters
        </h3>
        <p>
          Your personal growth is important to us, and we’ll give you everything you need to make it happen.
        </p>
      </div>
      <div class="col-md-6">
        <h3>
          Great culture
        </h3>
        <p>
          Your personal growth is important to us, and we’ll give you everything you need to make it happen.
        </p>
      </div>
      <div class="col-md-6">
        <h3>
          No hard deadlines
        </h3>
        <p>
          Your personal growth is important to us, and we’ll give you everything you need to make it happen.
        </p>
      </div>
      <div class="col-md-6">
        <h3>
          Good work-life balance
        </h3>
        <p>
          Your personal growth is important to us, and we’ll give you everything you need to make it happen.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="careers-benefits">
  <div class="pic d-none d-lg-block">
  </div>
  <div class="list">
    <h3>
      Perks & Benefits
    </h3>
    <ul>
      <li>
        Free food & snacks everyday
      </li>
      <li>
        401(k) plan
      </li>
      <li>
        Maternity Leave
      </li>
      <li>
        Unlimited books for learning
      </li>
      <li>
        Health insurance
      </li>
      <li>
        Best salary in the industry
      </li>
      <li>
        Remote working
      </li>
      <li>
        Flexible hours
      </li>
      <li>
        Custom working environment & gadgets
      </li>
    </ul>
  </div>
</div>

<div class="careers-listing">
  <div class="container">
    <h3 class="title">
      Current positions available
    </h3>
    <div class="row">
      <div class="col-md-4">
        <div class="department">
          <h4>
            Engineering
          </h4>
          <div class="role">
            <a href="career-post.html">
              Engineering Lead
            </a>
            <div class="city">
              San Francisco
            </div>
          </div>
          <div class="role">
            <a href="career-post.html">
              Android Developer
            </a>
            <div class="city">
              San Francisco
            </div>
          </div>
          <div class="role">
            <a href="career-post.html">
              iOS Developer
            </a>
            <div class="city">
              Ottawa
            </div>
          </div>
          <div class="role">
            <a href="career-post.html">
              Senior Software Developer
            </a>
            <div class="city">
              San Francisco
            </div>
          </div>
          <div class="role">
            <a href="career-post.html">
              Frontend Engineer
            </a>
            <div class="city">
              San Francisco
            </div>
          </div>
          <div class="role">
            <a href="career-post.html">
              Lead iOS Developer
            </a>
            <div class="city">
              Seattle
            </div>
          </div>
          <div class="role">
            <a href="career-post.html">
              Lead Platform Engineer
            </a>
            <div class="city">
              London
            </div>
          </div>
          <div class="role">
            <a href="career-post.html">
              Senior Platform Developer
            </a>
            <div class="city">
              San Francisco
            </div>
          </div>
          <div class="role">
            <a href="career-post.html">
              Senior Frontend Engineer
            </a>
            <div class="city">
              San Francisco
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="department">
          <h4>Design & UX</h4>
          <div class="role">
            <a href="career-post.html">
              Designer
            </a>
            <div class="city">
              San Francisco
            </div>
          </div>
          <div class="role">
            <a href="career-post.html">
              UX Research
            </a>
            <div class="city">
              Ottawa
            </div>
          </div>
          <div class="role">
            <a href="career-post.html">
              Marketing Designer
            </a>
            <div class="city">
              San Francisco
            </div>
          </div>
          <div class="role">
            <a href="career-post.html">
              UI Designer
            </a>
            <div class="city">
              Seattle
            </div>
          </div>
          <div class="role">
            <a href="career-post.html">
              Content Designer
            </a>
            <div class="city">
              London
            </div>
          </div>
        </div>
        <div class="department">
          <h4>Support</h4>
          <div class="role">
            <a href="career-post.html">
              Customer Support
            </a>
            <div class="city">
              San Francisco
            </div>
          </div>
          <div class="role">
            <a href="career-post.html">
              Merchant Success
            </a>
            <div class="city">
              San Francisco
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="department">
          <h4>Data & Analytics</h4>
          <div class="role">
            <a href="career-post.html">
              Data Analyst
            </a>
            <div class="city">
              San Francisco
            </div>
          </div>
          <div class="role">
            <a href="career-post.html">
              Data Modelling Developer
            </a>
            <div class="city">
              London
            </div>
          </div>
          <div class="role">
            <a href="career-post.html">
              Fraud Analyst
            </a>
            <div class="city">
              London
            </div>
          </div>
          <div class="role">
            <a href="career-post.html">
              Data Scientist
            </a>
            <div class="city">
              San Francisco
            </div>
          </div>
        </div>
        <div class="department">
          <h4>Human Relations</h4>
          <div class="role">
            <a href="career-post.html">
              HR Business Partner
            </a>
            <div class="city">
              San Francisco
            </div>
          </div>
          <div class="role">
            <a href="career-post.html">
              HR Coordinator
            </a>
            <div class="city">
              London
            </div>
          </div>
          <div class="role">
            <a href="career-post.html">
              HR Manager
            </a>
            <div class="city">
              San Francisco
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %}