{% include "landing/header.html" %}
<div class="agency-alt-hero">
    <div class="container">
      <h3 class="customFadeInUp">
        Contact us.
      </h3>
    </div>
  </div>

  <div class="agency-alt-contact-info">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 style="color: #518dc3;">
            <i class="ion-ios-email-outline"></i>
            Email
          </h4>
          <p>
            info@spacial.com
          </p>
        </div>
        <div class="col-md-4">
          <h4 style="color: #4fc4c5;">
            <i class="ion-ios-telephone-outline"></i>
            Phone
          </h4>
          <p>
            01 800 555-3421
          </p>
        </div>
        <div class="col-md-4">
          <h4 style="color: #a34dd6;">
            <i class="ion-social-twitter-outline"></i>
            Twitter support
          </h4>
          <p>
            @spacialsupport
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="agency-alt-map">
    <div class="container">
      <div class="location d-none d-md-block">
        <h5>Coinscoot</h5>
        <p>
          Sony Signal, Koramangala, Bengalore, India
        </p>
      </div>
    </div>
    <div id="map"></div>
  </div>
{% include "landing/footer.html" %}