{% include "landing/header.html" %}
  <div class="index-features-header">
    <section>
      <h1 class="stripey">
        Most Advanced Bitcoin Exchange 
      </h1>
      <p class="stripey">
        Buy, Sell, Trade, Store all kind of Cryptocurrencies.
      </p>
      <div class="cta">
        <a href="#" class="btn-shadow btn-shadow-primary">
          Coming Soon!
        </a>
      </div>
    </section>
  </div>

  <div class="index-features-nav d-none d-md-block">
    <ul class="nav features justify-content-center">
      <li>
        <a href="#friends" class="scroll nav-link active featureFadeInDown">
          Buy and Sell Bitcoins
        </a>
      </li>
      <li>
        <a href="#camera" class="scroll nav-link featureFadeInDown">
          Trade in Real Time
        </a>
      </li>
      <li>
        <a href="#user" class="scroll nav-link featureFadeInDown">
          Store currency securely
        </a>
      </li>
      <li>
        <a href="#files" class="scroll nav-link featureFadeInDown">
          Convert Bitcoins
        </a>
      </li>
    </ul>
  </div>
{% include "landing/footer.html" %}