{% include "landing/header.html" %}
<div class="business-hero">
  <div class="container">
    <h2 class="customFadeInUp">
      Take control of your business, integrate, automate and launch quickly.
    </h2>
    <p class="customFadeInUp">
      Millions of people use this theme. Each of them use it differently. 
      <br>
      So we created fifteen incredible new designs, some in collaboration with a few of the world's most influential and carismatic people ever known.
    </p>

    <div class="actions customFadeInUp">
      <a href="#" class="btn-pill btn-pill-primary btn-pill-lg">Sign Up Free</a>
    </div>
  </div>
</div>

<div class="spacial-features" data-scroll>
  <section class="container">
    <div class="row">
      <div class="col-12">
        <div class="header">
          <h2>Complete control over your company</h2>
          <p>
            Spacial has both a web app and an android app to make your website easy and always available.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="feature">
          <img src="landing/images/icons/spacial-devices.png">
          <h3>
            Have conversations with your friends
          </h3>
          <p>
            Spacial is the perfect solution for web developers and designers. You can get an awesome website for your best projects and clients, and also get great support.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="feature">
          <img src="landing/images/icons/spacial-download.png">
          <h3>
            Keep your information private & secure
          </h3>
          <p>
            Spacial is designed to make showing off your best projects extremely fast and simple. There are many ways to configure. Just go to the source, make changes.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="feature">
          <img src="landing/images/icons/spacial-location.png">
          <h3>
            Explore new possibilities every day

            <span class="badge-new">New</span>
          </h3>
          <p>
            Spacial has both a web app and an android app to make your website easy and always available. It offers you all the designs in collaboration with smart people.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="feature">
          <img src="landing/images/icons/spacial-settings.png">
          <h3>
            Enjoy a whole new set of options
          </h3>
          <p>
            Spacial is designed to make showing off your best projects extremely fast and simple. There are many ways to configure, just go to the source and configure.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="index-features" data-scroll>
  <div class="container">
    <header>
      <h3>Complete control over your website</h3>
      <p>
        Spacial is an advanced theme solution for desktop, tablet, and mobile devices. It works in all browsers and your clients can pay instantly, to improve their experience at all times anywhere they go.
      </p>
    </header>
    <section class="features">
      <div class="row">
        <div class="col-md-6 feature">
          <img src="landing/images/icons/features-icon-ok.png" class="icon" />
          <section>
            <h4>
              Secure platform
            </h4>
            <p>
              Spacial is the perfect solution for web developers and designers. You can get an awesome website for your best projects and clients.
            </p>
          </section>
        </div>
        <div class="col-md-6 feature">
          <img src="landing/images/icons/features-icon-canvas.png" class="icon" />
          <section>
            <h4>
              Looks great anywhere
            </h4>
            <p>
              Pick the pages that describe your business the best and improve your users experience. Track your progress and learn along the way.
            </p>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 feature">
          <img src="landing/images/icons/features-icon-world.png" class="icon" />
          <section>
            <h4>
              Sell all over the world
            </h4>
            <p>
              Use new components that come included, as shown in the theme docs you don't need to write any code to get a website up and running.
            </p>
          </section>
        </div>
        <div class="col-md-6 feature">
          <img src="landing/images/icons/features-icon-compass.png" class="icon" />
          <section>
            <h4>
              Great design great outcome
            </h4>
            <p>
              Spacial is designed to make showing off your best projects extremely fast and simple. There are many ways to configure, just go to the source.
            </p>
          </section>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="index-devices" data-scroll>
  <section class="clearfix">
    <img src="landing/images/devices/devices-4.png" class="devices" />

    <h4>Looks great in any device</h4>
    <p>
      Spacial has both a web app and an android app to make your website easy and always available. It offers you all the designs in collaboration with some smart people. Your projects will look great everywhere you go. Use new components that come included!
    </p>
    <p>
      Spacial is an advanced theme solution for desktop, tablet, and mobile devices. It works in all browsers and your clients can pay instantly, to improve their experience at all times anywhere they go.
    </p>
    <div class="icons">
      <i class="ion-monitor"></i>
      <i class="ion-ipad"></i>
      <i class="ion-iphone"></i>
    </div>
  </section>
</div>

<div class="business-single-client" data-scroll>
  <div class="quote-wrapper">
    <img src="landing/images/customers/logo-customer-7-w.png" class="logo">
    <p>
      "Focus on creating and growing your projects and websites, and we‘ll take care of spinning up new designs for your users and making sure they’re great. Work with all types of customers right out of the box while still getting great results in your environment."
    </p>
    <div class="author">
      John Smith, Product Designer
    </div>
  </div>
</div>

<div class="index-clients">
  <div class="container">
    <header>
      <h4>Used and trusted by these guys</h4>
    </header>
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 col-lg">
        <img class="img-fluid mb-4" src="landing/images/logos/google.jpg">
      </div>
      <div class="col-12 col-md-3 col-lg">
        <img class="img-fluid mb-4" src="landing/images/logos/dropbox.jpg">
      </div>
      <div class="col-12 col-md-3 col-lg">
        <img class="img-fluid mb-4" src="landing/images/logos/fb.jpg">
      </div>
      <div class="col-12 col-md-3 col-lg">
        <img class="img-fluid mb-4" src="landing/images/logos/twitter.jpg">
      </div>
      <div class="col-12 col-md-3 col-lg">
        <img class="img-fluid mb-4" src="landing/images/logos/instagram.jpg">
      </div>
      <div class="col-12 col-md-3 col-lg">
        <img class="img-fluid mb-4" src="landing/images/logos/apple.jpg">
      </div>
      <div class="col-12 col-md-3 col-lg">
        <img class="img-fluid mb-4" src="landing/images/logos/stripe.jpg">
      </div>
    </div>
  </div>
</div>

{% include "landing/footer.html" %}