<html class="gr__themereact_herokuapp_com"><head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <title>CoinScoot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="images/favicon.ico">

  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="landing/scss/bootstrap/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="landing/dist/login.theme.min.css">
  <link rel="stylesheet" type="text/css" href="landing/dist/custom.css">
  
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="landing/js/app.js"></script>
</head>
<body class="session-page" data-gr-c-s-loaded="true">
  <div class="container">
    <div class="header">
      <a href="/" class="logo">
        CoinScoot
      </a>
    </div>

    <div class="wrapper" ng-app="myApp" ng-controller="signupForm">
      <h5>Set up your new account today.</h5>
      <div class="formy">
        <form role="form" ng-submit="submitSignupForm()">
          <div class="form-group">
            <label for="name">Your name</label>
            <input type="text" class="form-control" id="name" ng-model="user.name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" ng-model="user.email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" ng-model="user.password">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> You have read &amp; agree to the 
              <a href="#">Terms of service</a>.
            </label>
          </div>
          <div class="text-center mt-5">
            <input type="submit" class="submit btn-block btn-shadow btn-shadow-info" value="Create account">
          </div>
        </form>
      </div>
    </div>
    <div class="already-account">
      Already have an account?
      <a href="/signin">Sign in here</a>
    </div>
  </div>
</body>
</html>